*{
	font-family: 'Montserrat', sans-serif;
}

.navbar{
	background-color: #153258;
}

.dropdown-menu{
	background-color: #153258;
}

.dropdown-item{
	color: #fff;
}

.certificates-main-title{
    padding: 25px 15px;
    margin: 20px 90px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #153258;
}

.grid-cer-cards{
    background-color: #153258;
    margin: 0px 90px 20px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 15px;
    align-items: start;
    border-radius: 5px;
}



.card-img-top{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px auto;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #153258;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card-text{
    color: #153258;
    text-align: justify;
}

.card-title{
    color: darkblue;
    text-align: center;
}

.btn{
    background-color: #702;
    margin: auto;
    border: none;
}

.btn:hover{
    background-color: #0B5ED7;
}

#sidebar{
    display: flex;
    flex-direction: column;
    background-color: #153258;
    color: #fff;
}

.pay-form{
    margin: 10px 10px 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-floating{
    color: #000;
}
